{% extends 'base.html.twig' %}
{% block title %}Hello CVController!{% endblock %}
{% block body %}


<div class="example-wrapper">
    <h1>Modifier une expérience professionnelle</h1>
    {{ form_start(form) }}
        {{ form_row(form.job) }}
        {{ form_row(form.place) }}
        {{ form_row(form.date_debut) }}
        {{ form_row(form.date_fin) }}
        {{ form_row(form.description) }}

    <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}
</div>

{% endblock %}