{% extends 'base.html.twig' %}

{% block title %}Hello CVController!{% endblock %}

{% block body %}

<h1>Créer une nouvelle expérience !</h1>

{{ form_start(form) }}
    {{ form_row(form.job) }}
    {{ form_row(form.place) }}
    {{ form_row(form.date_debut) }}
    {{ form_row(form.date_fin) }}
    {{ form_row(form.description) }}

    <button type="submit" class="btn btn-primary">Créer</button>
{{ form_end(form) }}

{% endblock %}