<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('home.index') }}">Accueil !</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('home.index') }}">Accueil !
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('project.index') }}">Mes créations</a><br />
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('cv.index') }}">Mon CV</a><br />
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('technologies.index') }}">Les technologies utilisées</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Me contacter !</a>
        </li>
      </ul>
    </div>
  </div>
</nav>